/* https://fonts.google.com/selection/embed */
@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&display=swap');

:root {
    --color1: #03FF00;
    --main-font: 'Helvetica';
    --header-font: "Micro 5 Charted";
    --sub-font: 'SBAggroB';
    font-family: var(--main-font);
    color: var(--color1);
    --max-width: 720px;
    background-color: black;
}


@media screen and (max-width> 720px) {
    :root {
        font-size: 1vw;
    }
}

@media screen and (max-width: 720px) {
    :root {
        font-size: 2vw;
    }
}

/* @media screen and (max-width: 720px) {
    :root {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        font-size: 10px;
    }
} */