/* https://fonts.google.com/selection/embed */
@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&display=swap');

:root {
    /* --color1: #03FF00; */
    --color1 :  rgb(255, 244, 204);
    --main-font: 'Helvetica';
    --header-font: "Micro 5 Charted";
    --sub-font: 'SBAggroB';
    font-family: var(--main-font);
    color: var(--color1);
    --max-width: 720px;
    background-color: black;
    display: grid;
}


@media screen and (max-width: 1200px) {
    :root {
        font-size: 15px;
    }
}


@media screen and (max-width: 960px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    :root {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        font-size: 10px;
    }
}